// .fa-stack {
//   height: 2em;
//   width: 2em;
//   position: relative;
// }

// .fa-4x {
//   font-size: 4em;
// }

// .fa-circle {
//   background: $primary;
//   border-radius: 50%;
// }

// .svg-inline--fa {
//   width: rem(72px);
//   height: rem(64px);
//   path {
//     fill: $white;
//   }
// }

// .svg-inline--fa.fa-w-11 {
//   width: 0.6875rem;
// }
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.mb-100 {
  margin-bottom: rem(100px);
}

.bg-map {
  background-image: url("#{$img-path}map-image.png");
}

.form-floating > .h-c100 {
  height: calc(100% - 1rem);
}

.page-section {
  padding: 6rem 0;
}

.title {
  font-family: "Montserrat Bold", sans-serif;
  line-height: 1.2;
  margin-bottom: rem(16px);
  font-size: rem(40px);
}

.nav-link {
  font-family: "Montserrat Regular", sans-serif;
}

.subtitle {
  font-family: "Roboto Slab";
  font-style: italic;
  font-size: rem(16px);
  line-height: 1.2;
  margin-bottom: rem(64px);
}
h1,
h2,
h4,
button {
  font-family: "Montserrat Bold", sans-serif;
}

p {
  font-family: "Roboto Slab";
}

.hdl-intro {
  font-family: "Montserrat Bold", sans-serif;
  font-size: rem(52px);
  line-height: 1;
  margin-bottom: rem(57.6px);
  @include media-breakpoint-up(md) {
    font-size: rem(72px);
  }
}

.hdl-sub-intro {
  font-family: "Roboto Slab";
  font-style: italic;
  font-size: rem(24px);
  margin-bottom: rem(32px);
  @include media-breakpoint-up(md) {
    font-size: rem(36px);
  }
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
}

.member {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.img-brand {
  height: 2.75rem;
}

.footer-text {
  font-size: rem(14.4px);
  font-family: "Montserrat Regular", sans-serif;
}

.navbar-nav .nav-item {
  margin-right: 1rem;
  letter-spacing: 0.0225rem;
  &:last-child {
    margin-right: 0;
  }
}

.btn-lg {
  font-size: rem(18px);
}

.navbar-toggler {
  font-size: rem(12px);
  padding: rem(12px);
}

.brand {
  width: rem(140px);
  height: rem(24px);
  @include media-breakpoint-up(lg) {
    width: rem(187px);
    height: rem(32px);
  }
}

.mb-04 {
  margin-bottom: rem(5px);
}

.lh-175 {
  line-height: 1.75;
}
.portfolio-item__content {
  font-style: italic;
  color: #6c757d;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
}

.portfolio-item__hdl {
  line-height: 1.5;
  margin-bottom: 0;
}

.portfolio-item {
  background: $white;
}

.timeline {
  h4 > span {
    margin-bottom: rem(8px);
  }
  p {
    line-height: rem(28px);
  }
  img {
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    height: rem(80px);
    width: rem(80px);
    @include media-breakpoint-up(md) {
      height: rem(100px);
      width: rem(100px);
    }
    @include media-breakpoint-up(lg) {
      height: rem(150px);
      width: rem(150px);
    }
    @include media-breakpoint-up(xl) {
      height: rem(170px);
      width: rem(170px);
    }
  }
}
