.intro {
  background: url("../images/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  #{&}__content {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    @include media-breakpoint-up(md) {
      padding-top: 17rem;
      padding-bottom: 12.5rem;
    }
  }
}
